header .col-sm-9 {
    display: flex;
    justify-content: center;
}

header .col-sm-9 img {
    max-height: 205px;
    margin-top: 5px;
}

.col-sm-9 p img {
    height:250px;
    width:250px;
    float: right;
}