.container{

    display: flexbox;
    box-sizing: border-box;
    
}


body{


    background-image: url("https://cdn.hipwallpaper.com/i/99/2/DHdhGp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.main{

    margin-top: 10px;
}

h1{

    font-family: fantasy;
    color:white;
}

p{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    font-size: 18px;
}

.links{

    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    color:white;
}

figure{

    color:white;
}

nav{

   
}


.logo-img{

    margin-top: 30px;
}

.content{

    background-color: grey;
    margin-top: 55px;
    border-radius: 15px;
    
    
}



